* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.logo h2 {
  font-size: 45px;
  font-weight: 900px;
}
.section-heading{
  max-width: 827px;
  text-align: center;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.color-orange {
  color: #FD6E0A;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
header {
  background-color:#FFF8F3;
  padding-top: 50px;
  background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid rebeccapurple; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  align-items: center;
}

.btn {
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 35px 19px 35px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
#banner{
  /* border: 1px solid rebeccapurple; */
  margin: 47px 38px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content h2{
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;

}
#banner .banner-content h1{
  font-size: 80px;
  font-weight: bold;
  color: #181818;
  margin: 20px;
  white-space: nowrap;
}
#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;

}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-image img{
  max-width: 585px;
  vertical-align: middle;
}
#about{
  padding: 130px;
}
#about .about-container{
  max-width: 1140px;
  width: 71%;
  margin: 0;
  text-align: center;
  background-color: #FFF8F3;
  padding: 133px 186px;
}
#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .about-card p {
font-size: 20px;
margin-bottom: 30px;
line-height: 30px;
color: #757575;
}
.about-info .about-card h4{
  font-size: 20px;
}






